
/Project/.vscode
/Project/build
/Project/CMakeFiles
Project/CMakeCache.txt
Project/cmake_install.cmake
Project/compile_commands.json
Project/build.ninja
Project/cmake/stm32cubemx/cmake_install.cmake
Nuevo documento de texto.txt
4100901-Proyecto-Final_2025-02-06/cmake/stm32cubemx/cmake_install.cmake
/4100901-Proyecto-Final_2025-02-06/.vscode
/4100901-Proyecto-Final_2025-02-06/build/Debug/.cmake/api/v1/reply
4100901-Proyecto-Final_2025-02-06/build.ninja
4100901-Proyecto-Final_2025-02-06/cmake_install.cmake
4100901-Proyecto-Final_2025-02-06/CMakeCache.txt
4100901-Proyecto-Final_2025-02-06/compile_commands.json
4100901-Proyecto-Final_2025-02-06/build/Debug/.ninja_deps
4100901-Proyecto-Final_2025-02-06/build/Debug/.ninja_log
4100901-Proyecto-Final_2025-02-06/build/Debug/4100901-Proyecto-Final_2025-02-06.elf
4100901-Proyecto-Final_2025-02-06/build/Debug/4100901-Proyecto-Final_2025-02-06.map
4100901-Proyecto-Final_2025-02-06/build/Debug/build.ninja
4100901-Proyecto-Final_2025-02-06/build/Debug/cmake_install.cmake
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeCache.txt
4100901-Proyecto-Final_2025-02-06/build/Debug/compile_commands.json
4100901-Proyecto-Final_2025-02-06/build/Debug/.cmake/api/v1/query/client-vscode/query.json
4100901-Proyecto-Final_2025-02-06/build/Debug/cmake/stm32cubemx/cmake_install.cmake
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/cmake.check_cache
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/CMakeConfigureLog.yaml
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/rules.ninja
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/TargetDirectories.txt
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CMakeASMCompiler.cmake
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CMakeSystem.cmake
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.o
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.o
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/startup_stm32l476xx.s.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Core/Src/main.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Core/Src/stm32l4xx_hal_msp.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Core/Src/stm32l4xx_it.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Core/Src/syscalls.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Core/Src/sysmem.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Core/Src/system_stm32l4xx.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_cortex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_cortex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma_ex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma_ex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_exti.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_exti.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ramfunc.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ramfunc.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_gpio.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_gpio.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c_ex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c_ex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr_ex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr_ex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc_ex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc_ex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart_ex.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart_ex.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart.c.obj.d
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.c.obj
4100901-Proyecto-Final_2025-02-06/build/Debug/CMakeFiles/4100901-Proyecto-Final_2025-02-06.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.c.obj.d
4100901-Proyecto-Final_2025-02-06/CMakeFiles/cmake.check_cache
4100901-Proyecto-Final_2025-02-06/CMakeFiles/CMakeConfigureLog.yaml
4100901-Proyecto-Final_2025-02-06/CMakeFiles/rules.ninja
4100901-Proyecto-Final_2025-02-06/CMakeFiles/TargetDirectories.txt
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CMakeASMCompiler.cmake
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CMakeCCompiler.cmake
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CMakeSystem.cmake
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.o
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
4100901-Proyecto-Final_2025-02-06/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.o
